<div class="tt"><h1>{{ titulo }}</h1></div>
<main class="cards">
  

  <div class="card-contain" *ngFor="let prod of produtos">
    <div class="card">
          <h2 class="produto-nome">
      {{ prod.nome }}
    </h2>

    <div class="info">
      <div class="img">
        <img src="{{ prod.imagem }}" alt="" />
      </div>
      <p class="preco">
        {{
          prod.preco.toLocaleString("pt-BR", {
            style: "currency",
            currency: "BRL"
          })
        }}
      </p>

      <h4 *ngIf="exibeProdutos">{{ prod.sinopse }}</h4>
      <button (click)="exibeprodutosim()">Sinopse</button>
      <button class="adq">Comprar</button>
    </div>

    </div>
  </div>
</main>

 
